---
import Navigation from '../components/Navigation.astro'
import { DarkMode, Link, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <Link href="/">Inicio</Link>
    </li>
    <!-- <li class="menu-item">
      <Link href="/blog/">Blog de Física</Link>
    </li> -->
    <!-- <li class="menu-item">
      <Link href="/portfolio/">Blog de Física</Link>
    </li> -->
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Temas de Física
        <Icon aria-hidden="true" name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <Link href="/movimiento-rectilineo-uniforme">Movimiento Rectilíneo Uniforme (MRU)</Link>
        </li>
        <li class="submenu-item">
          <Link href="/movimiento-rectilineo-uniformemente-variado">Movimiento Rectilíneo Uniformemente Variado (MRUV)</Link>
        </li>
        <li class="submenu-item">
          <Link href="/caida-libre">Caída Libre</Link>
        </li>
        <li class="submenu-item">
          <Link href="/tiro-parabolico/">Tiro Parabólico</Link>
        </li>
        <li class="submenu-item">
          <Link href="/estatica/">Estática</Link>
        </li>
        <li class="submenu-item">
          <Link href="/leyes-de-newton">Leyes de Newton</Link>
        </li>
        <li class="submenu-item">
          <Link href="/energia-y-trabajo-mecanico">Energía y Trabajo Mecánico</Link>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <Link href="/contact/">Contáctanos</Link>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <DarkMode>
        <Icon aria-hidden="true" name="lucide:moon" slot="light" />
        <Icon aria-hidden="true" name="lucide:sun" slot="dark" />
      </DarkMode>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
